*.root
Analises/Filtro Deterministico/dados normalizados e filtrados Lado-Canal/NFL0C2.mat
Analises/Filtro Deterministico/dados normalizados e filtrados Lado-Canal/NFL0C3.mat
Analises/Filtro Deterministico/dados normalizados e filtrados Lado-Canal/NFL1C2.mat
Analises/Filtro Deterministico/dados normalizados e filtrados Lado-Canal/NFL1C3.mat
Analises/Filtro Deterministico/workspace/energia_MeV.mat
Analises/Filtro Deterministico/workspace/noiseWorkspace.mat
Analises/Filtro Deterministico/dados/Lado-Canal.mat
Analises/Filtro Deterministico/dados/Normalizado-Filtrado-Lado-Canal.mat